/*Small screen */
body,header
{
    text-align: center;
    width: 100%;
}


h1
{
    font-size: 20px;
    position: relative;
    left: 80px;
}


.info 
{
    position: relative;
    left: 80px;
    font-size: 14px;
}

.main{ 
   position: relative;
   left: 110px;
}

div,section 
{
   position: relative;
   right: 150px; 
   font-size: 14px;
}

.image 
{
    position: relative;
}

.image,img 
{
    position: fixed;
    top: 0px;
    left: 0px;
    max-width: 100px;
}

section
{
    position: relative;
    top: 10px;
}

ul,li 
{
    list-style: none;
}

.Reference 
{
    position: inherit;
}






